<a href="https://colab.research.google.com/github/amnnxd/python_ml/blob/main/ML_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing all the required library
# padas == data analysis
# numpy == for maths
# matplotlib and seaborn == for data visualisation


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv(r"/content/drive/MyDrive/ML Data/Data_Job_Salary.csv")

In [ ]:
df.head()

,ID,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,12121.0,2020.0,MI,FT,Data Scientist,70000.0,EUR,79833.0,DE,0.0,DE,L
1,12122.0,2020.0,SE,FT,Machine Learning Scientist,260000.0,USD,260000.0,JP,0.0,JP,S
2,12123.0,2020.0,SE,FT,Big Data Engineer,85000.0,GBP,109024.0,GB,50.0,GB,M
3,12124.0,2020.0,MI,FT,Product Data Analyst,20000.0,USD,20000.0,HN,0.0,HN,S
4,12125.0,NaN,SE,FT,Machine Learning Engineer,150000.0,USD,150000.0,US,50.0,US,L

In [ ]:
# Get all the columns name from data
df.columns

Index(['ID ', 'work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [ ]:
df = df.rename(columns = {"ID " : "ID"})

In [ ]:
df.columns

Index(['ID', 'work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [ ]:
# Get information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  603 non-null    float64
 1   work_year           606 non-null    float64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           586 non-null    object
 5   salary              606 non-null    float64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       605 non-null    float64
 8   employee_residence  606 non-null    object
 9   remote_ratio        604 non-null    float64
 10  company_location    603 non-null    object
 11  company_size        607 non-null    object
dtypes: float64(5), object(7)
memory usage: 57.0+ KB

In [ ]:
# Get the statistical summary of data
df.describe()

                 ID    work_year        salary  salary_in_usd  remote_ratio
count    603.000000   606.000000  6.060000e+02     605.000000    604.000000
mean   12425.086235  2021.407591  3.243708e+05  112280.672727     70.860927
std      175.373770     0.690341  1.545606e+06   71049.399737     40.766949
min    12121.000000  2020.000000  4.000000e+03    2859.000000      0.000000
25%    12273.500000  2021.000000  7.000000e+04   62726.000000     50.000000
50%    12426.000000  2022.000000  1.150000e+05  101570.000000    100.000000
75%    12576.500000  2022.000000  1.650000e+05  150000.000000    100.000000
max    12727.000000  2022.000000  3.040000e+07  600000.000000    100.000000

In [ ]:
# Check the row and columns
df.shape

(607, 12)

In [ ]:
# Chek for the null values
df.isnull().sum()

ID                     4
work_year              1
experience_level       0
employment_type        0
job_title             21
salary                 1
salary_currency        0
salary_in_usd          2
employee_residence     1
remote_ratio           3
company_location       4
company_size           0
dtype: int64

In [ ]:
# Handle the null values
# 1. Drop the null values
# 2. Fill the null with 0
# 3. Fill the null values with mean, median and mode


# df = df.dropna().    When null values is less the 5% of the data
# df = df.fillna(0)

df = df.fillna(df["ID"].mean())
df = df.fillna(df["job_title"].mode())
df = df.fillna(df["employment_type"].mode())
df = df.fillna(df["work_year"].mean())
df = df.fillna(df["salary"].mean())
df = df.fillna(df["salary_in_usd"].mean())
df = df.fillna(df["remote_ratio"].mean())
df = df.fillna(df["employee_residence"].mode())
df = df.fillna(df["company_location"].mode())

In [ ]:
df.isnull().sum()

ID                    0
work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [ ]:
# Check for the data types of columns
df.dtypes

ID                    float64
work_year             float64
experience_level       object
employment_type        object
job_title              object
salary                float64
salary_currency        object
salary_in_usd         float64
employee_residence     object
remote_ratio          float64
company_location       object
company_size           object
dtype: object

In [ ]:
# Check for noise value
for i in df.columns:
  print(f"{i} \n {df[i].unique()} \n\n")

ID
 [12121.         12122.         12123.         12124.
 12125.         12126.         12127.         12128.
 12129.         12130.         12131.         12132.
 12133.         12134.         12135.         12136.
 12137.         12138.         12139.         12140.
 12141.         12142.         12143.         12144.
 12145.         12146.         12147.         12148.
 12149.         12150.         12151.         12152.
 12153.         12154.         12155.         12156.
 12157.         12158.         12159.         12160.
 12161.         12162.         12163.         12164.
 12165.         12425.08623549 12167.         12168.
 12169.         12170.         12171.         12172.
 12173.         12174.         12175.         12176.
 12177.         12178.         12179.         12180.
 12181.         12182.         12183.         12184.
 12185.         12186.         12187.         12188.
 12189.         12190.         12191.         12192.
 12193.         12194.         12195.         12196.
 12197.         12198.         12199.         12200.
 12201.         12202.         12203.         12204.
 12205.         12206.         12207.         12208.
 12209.         12210.         12211.         12212.
 12213.         12214.         12215.         12216.
 12217.         12218.         12219.         12220.
 12221.         12222.         12223.         12224.
 12225.         12226.         12227.         12228.
 12229.         12230.         12231.         12232.
 12233.         12234.         12235.         12236.
 12237.         12238.         12239.         12240.
 12241.         12242.         12243.         12244.
 12245.         12246.         12247.         12248.
 12249.         12250.         12251.         12252.
 12253.         12254.         12255.         12256.
 12257.         12258.         12259.         12261.
 12262.         12263.         12264.         12265.
 12266.         12267.         12268.         12269.
 12270.         12271.         12272.         12273.
 12274.         12275.         12276.         12277.
 12278.         12279.         12280.         12281.
 12282.         12283.         12284.         12285.
 12287.         12288.         12289.         12290.
 12291.         12292.         12293.         12294.
 12295.         12296.         12297.         12298.
 12299.         12300.         12301.         12302.
 12303.         12304.         12305.         12306.
 12307.         12308.         12309.         12310.
 12311.         12312.         12313.         12314.
 12315.         12316.         12317.         12318.
 12319.         12320.         12321.         12322.
 12323.         12324.         12325.         12326.
 12327.         12328.         12330.         12331.
 12332.         12333.         12334.         12335.
 12336.         12337.         12338.         12339.
 12340.         12341.         12342.         12343.
 12344.         12345.         12346.         12347.
 12348.         12349.         12350.         12351.
 12352.         12353.         12354.         12355.
 12356.         12357.         12358.         12359.
 12360.         12361.         12362.         12363.
 12364.         12365.         12366.         12367.
 12368.         12369.         12370.         12371.
 12372.         12373.         12374.         12375.
 12376.         12377.         12378.         12379.
 12380.         12381.         12382.         12383.
 12384.         12385.         12386.         12387.
 12388.         12389.         12390.         12391.
 12392.         12393.         12394.         12395.
 12396.         12397.         12398.         12399.
 12400.         12401.         12402.         12403.
 12404.         12405.         12406.         12407.
 12408.         12409.         12410.         12411.
 12412.         12413.         12414.         12415.
 12416.         12417.         12418.         12419.
 12420.         12421.         12422.         12423.
 12424.         12425.         12426.         12427.
 12428.         12429.         12430.         12431.
 12432.         12433.         12434.         12435.
 12436.         12437.         12438.         12439.
 12440.         12441.         12442.         12443.
 12444.         12445.         12446.         12447.
 12448.         12449.         12450.         12451.
 12452.         12453.         12454.         12455.
 12456.         12457.         12458.         12459.
 12460.         12461.         12462.         12463.
 12464.         12465.         12466.         12467.
 12468.         12469.         12470.         12471.
 12472.         12473.         12474.         12475.
 12476.         12477.         12478.         12479.
 12480.         12481.         12482.         12483.
 12484.         12485.         12486.         12487.
 12488.         12489.         12490.         12491.
 12492.         12493.         12494.         12495.
 12496.         12497.         12498.         12499.
 12500.         12501.         12502.         12503.
 12504.         12505.         12506.         12507.
 12508.         12509.         12510.         12511.
 12512.         12513.         12514.         12515.
 12516.         12517.         12518.         12519.
 12520.         12521.         12522.         12523.
 12524.         12525.         12526.         12527.
 12528.         12529.         12530.         12531.
 12532.         12533.         12534.         12535.
 12536.         12537.         12538.         12539.
 12540.         12541.         12542.         12543.
 12544.         12545.         12546.         12547.
 12548.         12549.         12550.         12551.
 12552.         12553.         12554.         12555.
 12556.         12557.         12558.         12559.
 12560.         12561.         12562.         12563.
 12564.         12565.         12566.         12567.
 12568.         12569.         12570.         12571.
 12572.         12573.         12574.         12575.
 12576.         12577.         12578.         12579.
 12580.         12581.         12582.         12583.
 12584.         12585.         12586.         12587.
 12588.         12589.         12590.         12591.
 12592.         12593.         12594.         12595.
 12596.         12597.         12598.         12599.
 12600.         12601.         12602.         12603.
 12604.         12605.         12606.         12607.
 12608.         12609.         12610.         12611.
 12612.         12613.         12614.         12615.
 12616.         12617.         12618.         12619.
 12620.         12621.         12622.         12623.
 12624.         12625.         12626.         12627.
 12628.         12629.         12630.         12631.
 12632.         12633.         12634.         12635.
 12636.         12637.         12638.         12639.
 12640.         12641.         12642.         12643.
 12644.         12645.         12646.         12647.
 12648.         12649.         12650.         12651.
 12652.         12653.         12654.         12655.
 12656.         12657.         12658.         12659.
 12660.         12661.         12662.         12663.
 12664.         12665.         12666.         12667.
 12668.         12669.         12670.         12671.
 12672.         12673.         12674.         12675.
 12676.         12677.         12678.         12679.
 12680.         12681.         12682.         12683.
 12684.         12685.         12686.         12687.
 12688.         12689.         12690.         12691.
 12692.         12693.         12694.         12695.
 12696.         12697.         12698.         12699.
 12700.         12701.         12702.         12703.
 12704.         12705.         12706.         12707.
 12708.         12709.         12710.         12711.
 12712.         12713.         12714.         12715.
 12716.         12717.         12718.         12719.
 12720.         12721.         12722.         12723.
 12724.         12725.         12726.         12727.        ]


work_year
 [ 2020.         12425.08623549  2021.          2022.        ]


experience_level
 ['MI' 'SE' 'EN' 'EX']


employment_type
 ['FT' 'CT' 'PT' 'FL']


job_title
 ['Data Scientist' 'Machine Learning Scientist' 'Big Data Engineer'
 'Product Data Analyst' 'Machine Learning Engineer' 'Data Analyst'
 'Lead Data Scientist' 'Business Data Analyst' 12425.08623548922
 'Lead Data Analyst' 'Data Engineer' 'Data Science Consultant'
 'Lead Data Engineer' 'BI Data Analyst' 'Director of Data Science'
 'Research Scientist' 'Machine Learning Manager'
 'Data Engineering Manager' 'ML Engineer' 'AI Scientist'
 'Computer Vision Engineer' 'Principal Data Scientist'
 'Data Science Manager' 'Head of Data' '3D Computer Vision Researcher'
 'Data Analytics Engineer' 'Applied Data Scientist'
 'Marketing Data Analyst' 'Cloud Data Engineer' 'Financial Data Analyst'
 'Computer Vision Software Engineer' 'Director of Data Engineering'
 'Data Science Engineer' 'Machine Learning Developer'
 'Applied Machine Learning Scientist' 'Head of Data Science'
 'Data Specialist' 'Data Architect' 'Finance Data Analyst'
 'Machine Learning Infrastructure Engineer' 'Data Analytics Manager'
 'Principal Data Analyst' 'Principal Data Engineer' 'Big Data Architect'
 'Staff Data Scientist' 'Analytics Engineer' 'ETL Developer'
 'Head of Machine Learning' 'NLP Engineer'
 'Lead Machine Learning Engineer' 'Data Analytics Lead']


salary
 [7.00000000e+04 2.60000000e+05 8.50000000e+04 2.00000000e+04
 1.50000000e+05 7.20000000e+04 1.90000000e+05 1.10000000e+07
 1.35000000e+05 1.25000000e+05 4.50000000e+04 3.00000000e+06
 3.50000000e+04 8.70000000e+04 8.00000000e+03 4.45000000e+06
 1.00000000e+05 4.23000000e+05 5.60000000e+04 2.99000000e+05
 4.50000000e+05 4.20000000e+04 9.80000000e+04 1.15000000e+05
 3.25000000e+05 7.20000000e+05 1.57000000e+05 5.19990000e+04
 6.00000000e+04 4.10000000e+04 6.50000000e+04 1.03000000e+05
 2.50000000e+05 1.00000000e+04 1.38000000e+05 4.57600000e+04
 4.40000000e+04 1.06000000e+05 8.80000000e+04 1.40000000e+04
 1.88000000e+05 1.05000000e+05 6.15000000e+04 9.10000000e+04
 3.00000000e+05 4.80000000e+04 1.30000000e+05 3.40000000e+04
 1.18000000e+05 1.20000000e+05 1.38350000e+05 1.10000000e+05
 1.30800000e+05 1.90000000e+04 4.12000000e+05 4.00000000e+04
 5.50000000e+04 4.32000000e+04 1.90200000e+05 8.00000000e+04
 3.70000000e+04 2.35000000e+05 4.00000000e+05 2.70000000e+05
 6.70000000e+04 1.40000000e+05 6.80000000e+04 5.00000000e+04
 1.70000000e+05 7.50000000e+04 1.45000000e+06 2.76000000e+05
 2.20000000e+06 1.20000000e+04 8.10000000e+04 6.20000000e+04
 7.30000000e+04 3.74560000e+04 2.25000000e+06 8.25000000e+04
 3.84000000e+04 2.25000000e+05 9.00000000e+04 2.00000000e+05
 8.76000000e+03 1.51000000e+05 7.00000000e+05 2.40000000e+04
 7.00000000e+06 8.50000000e+06 2.20000000e+05 2.40000000e+05
 5.30000000e+04 1.53000000e+05 1.60000000e+05 1.68000000e+05
 9.50000000e+04 1.34000000e+04 1.44000000e+05 1.59500000e+05
 2.30000000e+05 5.40000000e+04 1.65000000e+05 5.14000000e+04
 1.74000000e+05 5.80000000e+04 3.04000000e+07 4.20000000e+05
 1.67200000e+06 7.67600000e+04 2.20000000e+04 4.00000000e+03
 5.90000000e+04 7.40000000e+04 1.52000000e+05 2.18440000e+04
 1.80000000e+04 1.20500000e+05 1.47000000e+05 9.27200000e+03
 1.79999700e+06 4.00000000e+06 5.20000000e+04 1.95000000e+05
 3.20000000e+04 6.96000000e+04 2.10000000e+04 4.35000000e+05
 1.85000000e+05 1.80000000e+05 2.50000000e+06 4.09000000e+04
 4.16000000e+05 1.20000000e+06 2.56000000e+05 3.96000000e+04
 1.60000000e+06 1.33500000e+06 5.25000000e+04 3.10000000e+04
 1.08000000e+05 6.00000000e+05 2.10000000e+06 9.30000000e+04
 1.25000000e+06 4.90000000e+06 2.16000000e+04 9.31500000e+04
 1.11775000e+05 7.25000000e+04 1.02000000e+05 6.57200000e+04
 1.12000000e+05 6.99990000e+04 1.09000000e+05 1.55000000e+05
 1.20600000e+05 1.02100000e+05 8.49000000e+04 1.36620000e+05
 1.24250862e+04 1.46000000e+05 1.23000000e+05 9.90000000e+04
 1.16000000e+05 1.06260000e+05 1.26500000e+05 2.42000000e+05
 3.00000000e+04 1.65220000e+05 1.20160000e+05 9.03200000e+04
 1.81940000e+05 1.32320000e+05 2.20110000e+05 1.60080000e+05
 1.24190000e+05 1.15500000e+05 1.12900000e+05 1.65400000e+05
 1.67000000e+05 2.43900000e+05 1.36600000e+05 1.09280000e+05
 1.28875000e+05 9.37000000e+04 2.24000000e+05 1.67875000e+05
 1.75000000e+05 1.56600000e+05 1.08800000e+05 9.55500000e+04
 1.13000000e+05 1.61342000e+05 1.37141000e+05 2.11500000e+05
 1.92400000e+05 9.07000000e+04 6.13000000e+04 1.38600000e+05
 1.36000000e+05 1.89650000e+05 1.64996000e+05 1.32000000e+05
 2.08775000e+05 1.47800000e+05 1.36994000e+05 1.01570000e+05
 6.00000000e+06 2.85000000e+04 1.64000000e+05 1.45000000e+05
 1.05400000e+05 2.15300000e+05 1.58200000e+05 2.09100000e+05
 1.54600000e+05 1.15934000e+05 8.16660000e+04 1.83600000e+05
 6.39000000e+04 1.12300000e+05 2.41000000e+05 1.59000000e+05
 8.29000000e+04 1.00800000e+05 1.40400000e+05 1.40000000e+06
 2.40000000e+06 1.48000000e+05 1.04890000e+05 1.85100000e+05
 3.24000000e+05 2.16000000e+05 2.10000000e+05 2.90000000e+04
 5.28000000e+04 6.65000000e+04 5.70000000e+04 1.21000000e+05
 1.52500000e+05 3.80000000e+05 4.05000000e+05 1.77000000e+05
 7.80000000e+04 2.14000000e+05 1.92600000e+05 2.66400000e+05
 2.13120000e+05 1.41300000e+05 2.06699000e+05 9.91000000e+04
 1.10500000e+05 9.90500000e+04 2.05300000e+05 1.76000000e+05
 2.00100000e+05 7.05000000e+04 1.84700000e+05 1.75100000e+05
 1.40250000e+05 1.16150000e+05 6.90000000e+04 1.50075000e+05
 2.50000000e+04 1.10925000e+05 1.92564000e+05 1.44854000e+05
 1.50260000e+05 1.54000000e+05 1.26000000e+05 1.29000000e+05]


salary_currency
 ['EUR' 'USD' 'GBP' 'HUF' 'INR' 'JPY' 'CNY' 'MXN' 'CAD' 'DKK' 'PLN' 'SGD'
 'CLP' 'BRL' 'TRY' 'AUD' 'CHF']


salary_in_usd
 [ 79833.         260000.         109024.          20000.
 150000.          72000.         190000.          35735.
 135000.         125000.          51321.          40481.
  39916.          87000.          12425.08623549   8000.
  41689.         114047.           5707.          56000.
  43331.           6072.          47899.          98000.
 115000.         325000.          42000.          33511.
 100000.         117104.          59303.          70000.
  68428.         450000.          46759.          74130.
 103000.         250000.          10000.         138000.
  45760.          50180.         106000.         112872.
  15966.          76958.         188000.         105000.
  70139.          91000.          45896.          54742.
  60000.         148261.          38776.         118000.
 120000.         138350.         110000.         130800.
  21669.         412000.          45618.          62726.
  49268.         190200.          91237.          42197.
  82528.         235000.          53192.           5409.
 270000.          80000.          79197.         140000.
  54238.          47282.         153667.          28476.
  59102.         170000.          88654.          76833.
  19609.         276000.          29751.          89294.
  12000.          95746.          75000.          36259.
  62000.          73000.          51519.         187442.
  30428.          94564.         113476.         103160.
  45391.         225000.          50000.          40189.
  90000.         200000.         110037.          10354.
 151000.           9466.          40570.          49646.
  38400.          24000.          63711.          77364.
 220000.         240000.          82500.          82744.
  62649.         153000.         160000.         168000.
  75774.          13400.         144000.         127221.
 119059.         423000.         230000.          85000.
  28369.          63831.         130026.         165000.
  55000.          60757.         174000.           2859.
  40038.          81000.           5679.          22611.
  90734.          26005.          61896.           4000.
  69741.          74000.         152000.          21844.
  18000.          96113.         147000.           9272.
  24342.          54094.          61467.         195000.
  37825.          12901.          24823.          56738.
  66022.           5882.         185000.          28609.
  46597.         116914.          33808.          56256.
 416000.          87738.          71786.          16228.
 256000.         180000.          63810.          46809.
  21637.         103691.          18053.          72212.
  36643.          12103.          96282.         600000.
  28399.          93000.          99703.         173762.
 141846.         130000.          16904.          66265.
  25532.          93150.         111775.          28016.
  65013.          72500.          18907.          77684.
  58000.          20171.         112000.          69999.
  94665.         102839.         109000.          51064.
 155000.         120600.         102100.          84900.
 136620.          99360.         117789.         104702.
 146000.         123000.          52351.          99000.
 116000.         106260.         126500.         242000.
  65438.          39263.          78526.         165220.
  45807.         120160.          90320.         181940.
 132320.         220110.         160080.         124190.
 115500.         112900.         165400.         167000.
 243900.         136600.         109280.         128875.
  93700.         224000.         167875.         175000.
 156600.         108800.          95550.         113000.
 161342.         137141.         211500.         192400.
  90700.          61300.         138600.         136000.
 189650.         164996.          54957.         118187.
 132000.         208775.         147800.         136994.
 101570.          79039.          37300.         164000.
 124333.          98158.         145000.         105400.
  87932.         215300.         158200.         209100.
 154600.         115934.          81666.         183600.
  71982.          65949.          49461.          58894.
  63900.         112300.         241000.         159000.
  82900.         100800.         140400.          43966.
  32974.          76940.          91614.          21983.
  78791.         196979.          37236.          18442.
  31615.          58255.         162674.         104890.
 183228.         185100.          65000.         324000.
 216000.         210000.          31875.          35590.
  58035.          93427.          52396.          62651.
  40000.          87425.          86703.          64849.
 157000.          70912.          71444.          48000.
 152500.          68147.         122346.         380000.
  69336.         405000.         177000.          78000.
 214000.         192600.         266400.         213120.
 141300.         206699.          99100.         110500.
  99050.         205300.         176000.         200100.
  70500.         184700.         175100.         140250.
 116150.          54000.          69000.         150075.
  25000.         110925.         192564.         144854.
 150260.          67000.          52000.         154000.
 126000.         129000.        ]


employee_residence
 ['DE' 'JP' 'GB' 'HN' 'US' 'HU' 'NZ' 'FR' 'IN' 'PK' 'PL' 'PT' 'CN' 'GR'
 'AE' 'NL' 'MX' 'CA' 'AT' 'NG' 'PH' 'ES' 'DK' 'RU' 'IT' 'HR' 'BG' 'SG'
 'BR' 'IQ' 'VN' 'BE' 'UA' 'MT' 12425.08623548922 'CL' 'RO' 'IR' 'CO' 'MD'
 'KE' 'SI' 'HK' 'TR' 'RS' 'PR' 'LU' 'JE' 'CZ' 'AR' 'DZ' 'TN' 'MY' 'EE'
 'AU' 'BO' 'IE' 'CH']


remote_ratio
 [    0.            50.           100.         12425.08623549]


company_location
 ['DE' 'JP' 'GB' 'HN' 'US' 'HU' 'NZ' 'FR' 'IN' 'PK' 'CN' 'GR' 'AE' 'NL'
 'MX' 'CA' 'AT' 'NG' 'ES' 'PT' 'DK' 'IT' 'HR' 'LU' 'PL' 'SG'
 12425.08623548922 'RO' 'IQ' 'BR' 'BE' 'UA' 'IL' 'RU' 'MT' 'CL' 'IR' 'CO'
 'MD' 'KE' 'SI' 'CH' 'VN' 'AS' 'TR' 'CZ' 'DZ' 'EE' 'MY' 'AU' 'IE']


company_size
 ['L' 'S' 'M']